body {
    font-family: 'Dosis', sans-serif;
    background: rgb(241, 233, 222);
}

.photos {
    float: right;
    padding: 10px;
    width: 90%;
    height: 100%;
    background:  rgb(162, 140, 122);
    text-align: center;
}
nav {
    float: left;
    background: rgb(159, 143, 114);
    padding: 10px;
    width: 70%;
    height: 100%;
}
table {
    width: 100%;
    height: 100%;
    border-collapse:collapse;
}
footer {
    float: right;
}
a {
    color: whitesmoke;
}
.skazka {
    vertical-align: top;
}
.heading1 {
    font-size: x-large;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
